.left-section {
    background-color: #203D37;
    height: 550px;  
}
.n-link{
    color: white;
    text-decoration: none;
    
}
.deleteBtn{
    border: none;
    width: 30px;
}
.btnBorder{
    border: none;
}